body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #00a8db99;
  border-bottom: 1px solid #078ebe;
  backdrop-filter: blur(15px);
  color: var(--white-color);
  padding: 10px 100px;
  gap: 25px;
  line-height: 1.8;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    gap: 40px;
    li {
      text-transform: capitalize;
      font-weight: bold;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      a {
        font-size: 0.9em;
      }

      &:not(:last-child):hover {
        a {
          color: var(--secondary-color);
        }
        border-bottom: 3px solid var(--secondary-color);
        padding: 5px 15px;
      }
    }
  }

  .bars {
    display: none;
    cursor: pointer;
    border: solid 3px var(--white-color);
    padding: 4px;
    font-size: 1.2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    @media (max-width: 768px) {
      display: block;
    }
    &:hover {
      color: var(--secondary-color);
      border-color: var(--secondary-color);
    }
  }

  @media (max-width: 768px) {
    padding-inline: 70px;
    ul {
      background: linear-gradient(
        216.04deg,
        #27c0ef 13.84%,
        var(--primary-color) 83.53%
      );
      border: solid 2px #eee;
      display: block;
      position: absolute;
      text-align: center;
      top: 60px;
      padding: 20px;
      opacity: 0;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &.open {
        opacity: 1;
      }

      li:not(:last-child) {
        border-bottom: solid 1px #eee;
        margin-bottom: 15px;
        &:hover {
          border-bottom: 3px solid var(--secondary-color);
          a {
            color: var(--secondary-color);
          }
        }
      }

      @media (max-width: 768px) {
        right: 70px;
      }

      @media (max-width: 500px) {
        right: 40px;
      }

      @media (max-width: 360px) {
        right: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    padding-inline: 40px;
  }

  @media (max-width: 360px) {
    padding-inline: 20px;
  }
}

main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  background: linear-gradient(
    216.04deg,
    #27c0ef 13.84%,
    var(--primary-color) 83.53%
  );

  .first-part {
    width: 50%;
    color: var(--white-color);

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 0.9em;
      line-height: 1.8;
      margin-block: 50px;
    }
  }
  .second-part {
    width: 40%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .first-part,
    .second-part {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 3em;
        @media (max-width: 425px) {
          font-size: 2.5em;
        }
      }
    }
    .buttons-container {
      justify-content: center;
    }
  }
}

.sponsors-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  padding-block: 40px;
  .sponsors {
    display: flex;
    justify-content: space-evenly;
    animation: slide 6s linear infinite;
    -webkit-animation: slide 6s linear infinite;
    img {
      width: 117px;
      height: 100%;
      @media (max-width: 650px) {
        width: 60px;
      }
      @media (max-width: 360px) {
        width: 40px;
      }
      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
}

.landings {
  .first-part {
    aspect-ratio: 1;
    position: relative;
    img {
      &:first-child {
        animation: rotate 5s infinite linear;
        -webkit-animation: rotate 5s infinite linear;
      }
      &:nth-child(2) {
        position: absolute;
        left: 0;
        z-index: -1;
      }
    }
  }
}

.pages {
  .first-part {
    h2 {
      margin-bottom: 24px;
    }
    .checks {
      margin-block: 24px;
      p {
        display: flex;
        gap: 10px;
        line-height: 1.8;
        font-size: 0.9em;
        font-weight: bold;
        color: #90a3b4;
        @media (max-width: 768px) {
          font-size: 0.8em;
          @media (max-width: 425px) {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

.hashtag {
  background-color: #effbff;
  .first-part {
    text-align: center;
  }
  .second-part {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .card {
      background-color: var(--white-color);
      width: 250px;
      box-shadow: 1px 1px 20px #b8e4f2;
      padding: 20px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      h3 {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.8;
        margin-top: 26px;
        color: var(--secondary-color);
      }
      p {
        font-size: 0.8em;
        line-height: 1.8;
        margin-block: 10px;
      }
      &:hover {
        background: linear-gradient(
          216.04deg,
          #27c0ef 13.84%,
          var(--primary-color) 83.53%
        );
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        h3 {
          color: var(--white-color);
        }
        p {
          color: var(--white-color);
        }
      }
    }
  }
}

.testimonals {
  .first-part {
    p {
      font-style: italic;
    }
  }
  .second-part {
    .stars .fa-star {
      color: #faad13;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
      }
    }
    .person {
      justify-content: center;
      gap: 30px;
      .name h2 {
        font-size: 1em;
        line-height: 1.8;
      }
    }
    p {
      line-height: 1.8;
      font-size: 0.8em;
      color: #90a3b4;
    }
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
  background-color: #081315;
  color: var(--white-color);
  @media (max-width: 768px) {
    text-align: center;
  }
  .about {
    p {
      margin-block: 24px;
    }
    .socials .icon {
      cursor: pointer;
      color: #d3d6d8;
      background-color: #1c282a;
      font-size: 16px;
      padding: 10px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  .links {
    text-align: center;
    p {
      cursor: pointer;
      margin-block: 10px;
      line-height: 1.8;
      font-size: 0.9em;
      color: #90a3b4;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        color: var(--primary-color);
      }
    }

    h2 {
      color: var(--white-color);
      font-size: 1em;
    }
  }
}

.copyright {
  text-align: center;
  background-color: #081315;
  color: var(--white-color);
}
