body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
  }
}

header {
  background-color: #00a8db99;
  border-bottom: 1px solid #078ebe;
  backdrop-filter: blur(15px);
  color: var(--white-color);
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  line-height: 1.8;
  position: sticky;
  top: 0;
  z-index: 1;

  ul {
    display: flex;
    align-items: center;
    gap: 40px;
    li {
      text-transform: capitalize;
      font-weight: bold;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      a {
        font-size: 0.9em;
      }

      &:not(:last-child):hover {
        a {
          color: var(--secondary-color);
        }
        border-bottom: 3px solid var(--secondary-color);
        padding: 5px 15px;
      }
    }
  }

  .bars {
    display: none;
    cursor: pointer;
    border: solid 3px var(--white-color);
    padding: 4px;
    font-size: 1.2em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    @media (max-width: 768px) {
      display: block;
    }
    &:hover {
      color: var(--secondary-color);
      border-color: var(--secondary-color);
    }
  }

  @media (max-width: 768px) {
    padding-inline: 70px;
    justify-content: space-between;
    ul {
      background: linear-gradient(
        216.04deg,
        #27c0ef 13.84%,
        var(--primary-color) 83.53%
      );
      border: solid 2px #eee;
      display: block;
      position: absolute;
      text-align: center;
      top: 60px;
      padding: 20px;
      opacity: 0;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &.open {
        opacity: 1;
      }

      li:not(:last-child) {
        border-bottom: solid 1px #eee;
        margin-bottom: 15px;
        &:hover {
          border-bottom: 3px solid var(--secondary-color);
          a {
            color: var(--secondary-color);
          }
        }
      }

      @media (max-width: 768px) {
        right: 70px;
      }

      @media (max-width: 500px) {
        right: 40px;
      }

      @media (max-width: 360px) {
        right: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    padding-inline: 40px;
  }

  @media (max-width: 360px) {
    padding-inline: 20px;
  }
}

main {
  background: linear-gradient(
    216.04deg,
    #27c0ef 13.84%,
    var(--primary-color) 83.53%
  );
  display: flex;
  align-items: center;
  gap: 50px;

  .text {
    width: 50%;
    color: var(--white-color);

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 0.9em;
      line-height: 1.8;
    }
  }

  .img {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    .text,
    .img {
      h1 {
        font-size: 3em;
        @media (max-width: 425px) {
          font-size: 2.5em;
        }
      }
      width: 100%;
      text-align: center;
    }
    .buttons-container {
      justify-content: center;
    }
  }
}

.sponsors-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  padding-block: 40px;
  .sponsors {
    display: flex;
    justify-content: space-evenly;
    animation: slide 6s linear infinite;
    -webkit-animation: slide 6s linear infinite;
    img {
      width: 117px;
      height: 100%;
      @media (max-width: 650px) {
        width: 60px;
      }
      @media (max-width: 360px) {
        width: 40px;
      }
      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
}

.landings {
  display: flex;
  align-items: center;
  gap: 10%;
  .img {
    width: 40%;
    aspect-ratio: 1;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      &:first-child {
        animation: rotate 5s infinite linear;
        -webkit-animation: rotate 5s infinite linear;
      }
      &:nth-child(2) {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
  .text {
    width: 50%;
    p {
      margin-block: 40px;
      line-height: 1.8;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 0.3px;
      color: #90a3b4;
      @media (max-width: 768px) {
        font-size: 0.8em;
        @media (max-width: 425px) {
          font-size: 0.7em;
        }
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 100px;
    .text,
    .img {
      width: 70%;
      text-align: center;
    }
    .text {
      width: 100%;
    }
  }
}
